:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  color: var(--text-color);
}
.container {
  border: 0.5px solid var(--second-bg-color);
  border-radius: 15px;
  padding: 28px 32px;
  display: flex;
  flex-direction: column;
  background: transparent;
  box-shadow: 0 0 1.7rem var(--main-color);
}
.container h1 {
  font-size: 1.4rem;
  margin-block: 8px;
}
.inputBox {
  position: relative;
}
.inputBox span {
  position: absolute;
  top: 16px;
  right: 5px;
  color: var(--bg-color);
  font-size: 30px;
  cursor: pointer;
}
.passbox {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  width: 350px;
  border-radius: 4px;
  font-size: 20px;
  margin-block: 8px;
}
.row {
  display: flex;
  margin-block: 8px;
}
.row p,
.row label {
  flex-basis: 100%;
  font-size: 20px;
}
.row input[type="checkbox"] {
  width: 20px;
  height: 20px;
  transition: all .5s ease;
}
.row input[type = "checkbox"]:active{
  box-shadow:1rem .4rem 1.7rem var(--text-color);
}
.genbtn {
  display: inline-block;
  padding: 1rem ;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1.5rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.genbtn:hover {
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  body {
    padding: 20px;
    text-align: center;
  }

  .container {
    max-width: 100%;
    padding: 16px;
  }

  .inputBox {
    width: 100%;
  }

  .passbox {
    width: 100%;
    max-width: 100%;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .row p,
  .row label {
    text-align: center;
    margin-bottom: 8px;
  }

  .row input[type="checkbox"] {
    width: auto;
    height: auto;
  }

  .genbtn {
    width: 100%;
    max-width: 200px; /* Adjust the max-width as needed */
    margin: 0 auto;
  }
}
